---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<MAP_QUEST_KEY>&location=afeadgafgsfaeff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Mar 2021 01:47:02 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"afeadgafgsfaeff"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_QUEST_KEY>&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=1428069975"}]}]}'
  recorded_at: Mon, 08 Mar 2021 01:47:02 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&exclude=minutely&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1615168023,"sunrise":1615121988,"sunset":1615163693,"temp":57.22,"feels_like":51.75,"pressure":1020,"humidity":48,"dew_point":37.72,"uvi":0,"clouds":24,"visibility":10000,"wind_speed":5.01,"wind_deg":150,"wind_gust":10,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1615165200,"temp":57.22,"feels_like":48.16,"pressure":1020,"humidity":48,"dew_point":37.72,"uvi":0,"clouds":24,"visibility":10000,"wind_speed":11.36,"wind_deg":178,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1615168800,"temp":57.56,"feels_like":47.41,"pressure":1020,"humidity":50,"dew_point":39.09,"uvi":0,"clouds":29,"visibility":10000,"wind_speed":13.76,"wind_deg":177,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1615172400,"temp":57.02,"feels_like":46.29,"pressure":1019,"humidity":53,"dew_point":40.08,"uvi":0,"clouds":37,"visibility":10000,"wind_speed":15.12,"wind_deg":185,"weather":[{"id":802,"main":"Clouds","description":"sca[...]
