---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=tki9vFLIwUT_Fogx9qOVpPht93MUU7rXBlCD4Vae3jU&per_page=1&query=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=tki9vFLIwUT_Fogx9qOVpPht93MUU7rXBlCD4Vae3jU&page=2644&per_page=1&query=denver%2C+co>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=tki9vFLIwUT_Fogx9qOVpPht93MUU7rXBlCD4Vae3jU&page=2&per_page=1&query=denver%2C+co>;
        rel="next"
      X-Total:
      - '2644'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"03d17480f929e1e469ff1cbf8380c742"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2644,"total_pages":2644,"results":[{"id":"cQKn3fl4s5w","created_at":"2020-11-10T13:40:05-05:00","updated_at":"2021-03-06T21:18:24-05:00","promoted_at":null,"width":3712,"height":5568,"color":"#a6d9f3","blur_hash":"LdFsPuH;n,I;F|MbozxaM{%Mt7WB","description":"INSTAGRAM:
        SARRAMPHOTOGRAPHY\n","alt_description":"text","urls":{"raw":"https://images.unsplash.com/photo-1605033532441-30378efcd7ef?ixid=MXwyMTMwNjF8MHwxfHNlYXJjaHwxfHxkZW52ZXIsJTIwY298ZW58MHx8fA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1605033532441-30378efcd7ef?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwyMTMwNjF8MHwxfHNlYXJjaHwxfHxkZW52ZXIsJTIwY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1605033532441-30378efcd7ef?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNjF8MHwxfHNlYXJjaHwxfHxkZW52ZXIsJTIwY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1605033532441-30378efcd7ef?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNjF8MHwxfHNlYXJjaHwxfHxkZW52ZXIsJTIwY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1605033532441-30378efcd7ef?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwyMTMwNjF8MHwxfHNlYXJjaHwxfHxkZW52ZXIsJTIwY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/cQKn3fl4s5w","html":"https://unsplash.com/photos/cQKn3fl4s5w","download":"https://unsplash.com/photos/cQKn3fl4s5w/download","download_location":"https://api.unsplash.com/photos/cQKn3fl4s5w/download"},"categories":[],"likes":6,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"7vaZ99fSB5o","updated_at":"2021-03-04T11:44:45-05:00","username":"nima_sarram","name":"Nima
        Sarram","first_name":"Nima","last_name":"Sarram","twitter_username":null,"portfolio_url":null,"bio":"INSTAGRAM:
        SARRAMPHOTOGRAPHY\r\nBased out of Denver Colorado, 17 years old.","location":"Denver,
        Co","links":{"self":"https://api.unsplash.com/users/nima_sarram","html":"https://unsplash.com/@nima_sarram","photos":"https://api.unsplash.com/users/nima_sarram/photos","likes":"https://api.unsplash.com/users/nima_sarram/likes","portfolio":"https://api.unsplash.com/users/nima_sarram/portfolio","following":"https://api.unsplash.com/users/nima_sarram/following","followers":"https://api.unsplash.com/users/nima_sarram/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"sarramphotography","total_collections":15,"total_likes":21,"total_photos":198,"accepted_tos":true,"for_hire":true},"tags":[{"type":"search","title":"hair"},{"type":"search","title":"accessories"},{"type":"search","title":"accessory"}]}]}'
  recorded_at: Mon, 08 Mar 2021 02:43:49 GMT
recorded_with: VCR 6.0.0
