---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_KEY>&q=pueblo,%20co&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-74.845,"lat":7.3289},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"base":"stations","main":{"temp":82.67,"feels_like":93.06,"temp_min":82.67,"temp_max":82.67,"pressure":1011,"humidity":81,"sea_level":1011,"grnd_level":986},"visibility":10000,"wind":{"speed":1.25,"deg":6},"clouds":{"all":100},"dt":1615222808,"sys":{"country":"CO","sunrise":1615201758,"sunset":1615245068},"timezone":-18000,"id":3665566,"name":"Pueblo","cod":200}'
  recorded_at: Mon, 08 Mar 2021 17:04:33 GMT
recorded_with: VCR 6.0.0
