---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<MAP_QUEST_KEY>&location=denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Mar 2021 03:28:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_QUEST_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1199043230"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_QUEST_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-958331672"}]}]}'
  recorded_at: Wed, 10 Mar 2021 03:28:56 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615346937,"sunrise":1615296030,"sunset":1615338029,"temp":51.51,"feels_like":36.25,"pressure":1003,"humidity":26,"dew_point":19.38,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":17.87,"wind_deg":359,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1615345200,"temp":51.51,"feels_like":36.25,"pressure":1003,"humidity":26,"dew_point":19.38,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":17.87,"wind_deg":359,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.11},{"dt":1615348800,"temp":50.59,"feels_like":40.05,"pressure":1004,"humidity":38,"dew_point":26.65,"uvi":0,"clouds":88,"visibility":10000,"wind_speed":10.96,"wind_deg":343,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.11},{"dt":1615352400,"temp":48.58,"feels_like":39.13,"pressure":1005,"humidity":48,"dew_point":30.06,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":9.86,"wind_deg":4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.11},{"dt":1615356000,"temp":47.46,"feels_like":39.34,"pressure":1005,"humidity":54,"dew_point":31.71,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":7.99,"wind_deg":355,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.19},{"dt":1615359600,"temp":46.27,"feels_like":40.33,"pressure":1005,"humidity":60,"dew_point":33.17,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.5,"wind_deg":23,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.38},{"dt":1615363200,"temp":44.46,"feels_like":39.43,"pressure":1005,"humidity":68,"dew_point":34.74,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.27,"wind_deg":2,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.59,"rain":{"1h":0.57}},{"dt":1615366800,"temp":43.48,"feels_like":38.91,"pressure":1005,"humidity":71,"dew_point":35.08,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.53,"wind_deg":23,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.71,"rain":{"1h":0.17}},{"dt":1615370400,"temp":41.88,"feels_like":35.28,"pressure":1005,"humidity":77,"dew_point":35.53,"uvi":0,"clouds":99,"visibility":8973,"wind_speed":6.26,"wind_deg":3,"weather":[{"id":500,"main":"Rain","[...]
