---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&exclude=minutely&lat=39.74&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615138730,"sunrise":1615123417,"sunset":1615165102,"temp":61.68,"feels_like":51.19,"pressure":1020,"humidity":17,"dew_point":18.19,"uvi":3.91,"clouds":75,"visibility":10000,"wind_speed":9.22,"wind_deg":180,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1615136400,"temp":61.68,"feels_like":54.86,"pressure":1020,"humidity":17,"dew_point":18.19,"uvi":2.92,"clouds":75,"visibility":10000,"wind_speed":2.68,"wind_deg":199,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1615140000,"temp":59.61,"feels_like":53.56,"pressure":1019,"humidity":25,"dew_point":24.73,"uvi":3.91,"clouds":86,"visibility":10000,"wind_speed":2.53,"wind_deg":186,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1615143600,"temp":60.93,"feels_like":54.73,"pressure":1018,"humidity":27,"dew_point":27.36,"uvi":4.25,"clouds":95,"visibility":10000,"wind_speed":3.4,"wind_deg":167,"weather":[{"id":804,"main":"Clouds","description":"o[...]
