---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&exclude=minutely&lat=39.74&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615312426,"sunrise":1615296029,"sunset":1615338028,"temp":62.15,"feels_like":52.11,"pressure":1011,"humidity":15,"dew_point":15.96,"uvi":4.21,"clouds":75,"visibility":10000,"wind_speed":8.05,"wind_deg":180,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1615309200,"temp":62.15,"feels_like":55.49,"pressure":1011,"humidity":15,"dew_point":15.96,"uvi":3.15,"clouds":75,"visibility":10000,"wind_speed":2.04,"wind_deg":245,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1615312800,"temp":59.9,"feels_like":54.16,"pressure":1010,"humidity":24,"dew_point":24.08,"uvi":4.21,"clouds":76,"visibility":10000,"wind_speed":1.86,"wind_deg":297,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1615316400,"temp":59.61,"feels_like":52.84,"pressure":1009,"humidity":28,"dew_point":27.14,"uvi":4.56,"clouds":95,"visibility":10000,"wind_speed":4.38,"wind_deg":18,"weather":[{"id":804,"main":"Clouds","description":"over[...]
